<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag 'mailer' %>
  </head>
  <body>
    <div class="email-container">
      <div class="logo">
        <%= image_tag "https://i.imgur.com/giYBBJh.png" %>
      </div>
      <div class="content-area">
        <h1>Reset password</h1>
        <p>Hi <%= @user.name %>,</p>

        <p>You have requested to change your password. Please click the button below to reset your password:</p>
        <div class="text-center">
          <%= link_to edit_password_reset_url(@user.reset_token, email: @user.email) do %>
            <button style="cursor: pointer;" class="btn">Reset Password</button>
          <% end %>
        <div>
        <br>
        <p>This link will be expired in 20 minutes</p>
      </div>
    </div>

  </body>
</html>
