<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Account activation</h1>


    <p>
      Please click <%= link_to "this link", edit_user_activation_url(@user.activation_token, email: @user.email) %> activate your account
    </p>
    <p>

    </p>

  </body>
</html>
