<h1 style="text-align: center">Dashboard</h1>

<div class="container">
  <div class="chart-field"></div>
  <br>
  <div class="custom-select">
    Filter by
    <select>
      <%= options_for_select(stack_bar_filter_options) %>
    </select>
  </div>
  <div class="bar-chart-field"></div>
</div>
