<% leaderboards.each.with_index(1) do |leaderboard, index| %>
  <tr>
    <td><%= index %>
    <td><%= leaderboard.user.name %></td>
    <td><%= leaderboard.score %></td>
    <td><%= leaderboard.exam.name %></td>
  </tr>
<% end %>
