<div class="question-field">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "small-field" %>

    <div>
      <h4>Answers list</h4>
      <div></div>
      <%= f.fields_for :answers, @answers do |a| %>
        <%= link_to_add_field("Add answer", f, :answers, class: "add-answer btn") %>
      <% end %>
    </div>
  </div>
</div>
