<li>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div>
    answer list
    <div></div>
    <%= f.fields_for :answers, @answers do |a| %>
      <%= link_to_add_field("Add answer", f, :answers, class: "add-answer") %>
    <% end %>
  </div>
</li>
