<div id="main">
  <div id="top-bar">
    <ul id="top-bar-ul">
      <li class="bars-icon"><a href="#" id="toggle-nav">&#9776</a></li>
      <li><%= current_user.name %></li>
      <li class="float-right"><%= link_to  "Logout", session_path, method: :delete %></li>
      <li></li>
    </ul>
</div>
